.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  background: white;
  border: 1px solid #ebebeb;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.title {
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 16px 0;
}

.content {
  text-align: initial;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}